

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
}


#t1, #t2, #t3, #t4, #t5 {
	// opacity: 0;
}

#banner{
	font-size: 20px;
	width: 728px;
	height: 90px;	
	font-size: 29px;
	// color: red;
}

#t1{
	// opacity: 1;
	// @include pos(127, 34);
	@include pos(127, 34);
	// @include pos(125, 25);
	span{
		// opacity: 0;
		@include pos(59, -29);
		letter-spacing: -0.5px;
		clip: rect(0px,150px,51px,0px);
		// clip: rect(0px,0px,51px,0px);
		width: 160px;
		// position: relative;
		// border: 1px solid red
	}
}

#t2{
	// @include pos(128, 34);	
	@include pos(128, 19);	
	letter-spacing: -0.5px;
	// opacity: 1;
}

#t3{
	@include pos(127, 47);	
	letter-spacing: -0.5px;
	// opacity: 1;
}

#t4{
	@include pos(127, 47);	
	letter-spacing: -0.5px;
	// opacity: 1;
}



#logo-olg{
	width: 28px;
	@include pos(681, 60);
}

#logo-playsmart{
	width: 56px;
	@include pos(20, 66);
}

#legal-button{
	@include pos(19, 56);
}

#legal-copy{
	width: 670px;
}

#phoneMain{
	@include pos-scale(392, -40, 0.72);
	#phone-mask{
		// display:none;
		// border: 1px solid red;
		width: 275px;
		height: 565px;
		overflow: hidden;
		@include pos-scale(0,0, 0.85);
		#phone{
			@include pos(-275*0, 0);
		}
	}

	#screen{
		opacity: 0;
		
		width: 213px;
		height: 222px;
		@include pos(31, 103);
		#logo{
			@include pos-scale(42, 10, .4);
		}
		font-size: 20px;
		p{
			width: 100%;
			text-align: center;
			// border: 1px solid red;
		}
		.t1{
			@include pos(0, 99);
			letter-spacing: -0.2px;			
			
			
		}
		.t2{
			@include pos(0, 122);
			letter-spacing: -0.2px;
		}
	}
}
$xx:156;
#t5{
	@include pos($xx, 20);	
	letter-spacing: -0.4px;
}

#logo-app{
	width: 43px;
	height: 53px;
	@include pos($xx + 182, 23);
}

// #phoneMain{
// 	@include pos-scale(423, -40, 0.72);
// 	#phone-mask{				
// 		#phone{
// 			@include pos(-275*9, 0);
// 		}
// 	}
// 	#screen{
// 		opacity: 1;
// 		#logo{
// 			@include pos-scale(42, 10, .4);

// 		}
// 	}
// }

