

@import '../../../_common/styles/common.scss';



.frame1 {
	opacity: 1;
}

// p{
// 	opacity: 0;
// }

#t1, #t2, #t3, #t4 {
	// opacity: 0;
}

#banner{	
	width: 510px;
	height: 290px;
	
}


#logo-app{
	width: 34px;
	// height: 53px;
	@include pos(89, 137);
}

#t1{
	// opacity: 1;
	@include pos(3, 167);
	// @include pos(125, 25);
	text-align: center;
	width: 100%;	
	font-size: 25px;
}


#logo-olg{
	width: 28px;
	@include pos(472, 257);
}

#logo-playsmart{
	width: 56px;
	@include pos(12, 263);
}

#phoneMain{
	// display: none;

	// @include pos(13, 45);
	@include pos-scale(91, -59, 1.2);
	// @include pos(13, -46);
	// @include pos(13, 190);

	#phone-mask{
		// display:none;
		// border: 1px solid red;
		width: 275px;
		height: 565px;
		overflow: hidden;
		@include pos-scale(0,0, 0.85);
		#phone{
			@include pos(-275*12, 0);
		}
	}

	#screen{
		// opacity: 0;
		
		width: 213px;
		height: 222px;
		@include pos(31, 103);
		#logo{
			@include pos-scale(37, 13, .45);
		}
		font-size: 20px;
		p{
			width: 100%;
			text-align: center;
			// border: 1px solid red;
		}
		.t1{
			@include pos(0, 99+10);
			letter-spacing: -0.2px;			
			
			
		}
		.t2{
			@include pos(0, 122+7);
			letter-spacing: -0.2px;
		}
		// background-color: #00a950;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00a950+0,001c11+100 */
		// background: #00a950; /* Old browsers */
		// background: -moz-linear-gradient(top, #00a950 0%, #001c11 100%); /* FF3.6-15 */
		// background: -webkit-linear-gradient(top, #00a950 0%,#001c11 100%); /* Chrome10-25,Safari5.1-6 */
		// background: linear-gradient(to bottom, #00a950 0%,#001c11 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a950', endColorstr='#001c11',GradientType=0 ); /* IE6-9 */
	}
}

// #phoneMain{
// 	#phone-mask{				
// 		#phone{
// 			@include pos(-275*9, 0);
// 		}
// 	}
// 	#screen{
// 		opacity: 1;
// 		#logo{
// 			@include pos-scale(30, 26, .5);

// 		}
// 	}
// }

