

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
}



#t1, #t2, #t3, #t4, #t5 {
	// opacity: 0;
}

$x: 90;
$yMid: 9;

#banner{
	font-size: 20px;
	width: 468px;
	height: 60px;	
	font-size: 21px;
	// color: red;
}

#t1{
	// opacity: 1;
	// border: 1px solid red;
	@include pos($x, $yMid+11);
	
	
	span{
		// border: 1px solid blue;
		@include pos(40, -21);
		// @include pos(0, 0);
		position: absolute;
		letter-spacing: -0.5px;
		clip: rect(0px,150px,51px,0px);
		width: 160px;		
		padding-left: 3px;
	}
}

#t2{	
	@include pos($x, $yMid);	
	letter-spacing: -0.5px;
	// opacity: 1;
}

#t3{
	@include pos($x, 32);	
	letter-spacing: -0.5px;
	// opacity: 1;
}

#t4{
	@include pos($x, 32);	
	letter-spacing: -0.5px;
	// opacity: 1;
}



#t5{
	@include pos($x, 9);	
	letter-spacing: -0.4px;	
}



#logo-olg{
	width: 28px;
	@include pos(431, 31);
}

#logo-playsmart{
	width: 56px;
	@include pos(12, 34);
}

#legal-button{
	@include pos(12, 8);
	display: none;
}

#legal-copy{
	width: 432px;
	height: 100%;
	font-size: 7px;
	padding: 3px 0px 0px 5px;
	line-height:9px;
	

	// opacity: 1;
}


#logo-app{
	width: 34px;
	// height: 47px;
	@include pos(226, 11);
}

#phoneMain{
	@include pos-scale(266, -44, 0.6);	
	#phone-mask{
		width: 275px;
		height: 565px;
		overflow: hidden;
		@include pos-scale(0,0, 0.85);
		#phone{
			@include pos(-275*12, 0);
		}
	}

	#screen{
		opacity: 0;
		
		width: 213px;
		height: 222px;
		@include pos(31, 103);
		#logo{
			@include pos-scale(37, 5, .45);
		}
		font-size: 20px;
		p{
			width: 100%;
			text-align: center;
			// border: 1px solid red;
		}
		.t1{
			@include pos(0, 99);
			letter-spacing: -0.2px;			
			
			
		}
		.t2{
			@include pos(0, 122);
			letter-spacing: -0.2px;
		}
		
	}
}


// #phoneMain{
// 	@include pos-scale(319, -43, 0.81);
// 	// @include pos-scale(379, -40, 0.81);
// 	#phone-mask{				
// 		#phone{
// 			@include pos(-275*12, 0);
// 		}
// 	}
// 	#screen{
// 		opacity: 1;
// 		#logo{
// 			@include pos-scale(42, 10, .4);

// 		}
// 	}
// }

