

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
}

// p{
// 	opacity: 0;
// }



#banner{
	font-size: 20px;
	width: 300px;
	height: 250px;	
	font-size: 29px;
}

#t1{
	// opacity: 1;
	@include pos(48, 25);
	// @include pos(125, 25);
	span{
		@include pos(58, -29);
		letter-spacing: -0.5px;
		clip: rect(0px,150px,51px,0px);
		// clip: rect(0px,0px,51px,0px);
		width: 160px;
		// position: relative;
		// border: 1px solid red
	}
}

#t2{
	@include pos(44, 28);	
	letter-spacing: -0.5px;
	// opacity: 1;
}

#t3{
	@include pos(100, 57);	
	letter-spacing: -0.5px;
	// opacity: 1;
}

#t4{
	@include pos(88, 57);	
	letter-spacing: -0.5px;
	// opacity: 1;
}

#logo-olg{
	width: 28px;
	@include pos(258, 217);
}

#logo-playsmart{
	width: 56px;
	@include pos(12, 226);
}

#phoneMain{
	// display: none;

	// @include pos(13, 45);
	@include pos(13, 31);
	// @include pos(13, -46);
	// @include pos(13, 190);

	#phone-mask{
		// display:none;
		// border: 1px solid red;
		width: 275px;
		height: 565px;
		overflow: hidden;
		@include pos-scale(0,0, 0.85);
		#phone{
			@include pos(-275*0, 0);
		}
	}

	#screen{
		opacity: 0;
		// border: 1px solid red;
		width: 213px;
		height: 222px;
		@include pos(31, 103);
		#logo{
			@include pos(30, 26);
		}
		font-size: 20px;
		.t1{
			@include pos(42, 99);
			letter-spacing: -0.2px;
			opacity: 1;
		}
		.t2{
			@include pos(42, 122);
			letter-spacing: -0.2px;
			opacity: 1;
		}
		// background-color: #00a950;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00a950+0,001c11+100 */
		background: #00a950; /* Old browsers */
		background: -moz-linear-gradient(top, #00a950 0%, #001c11 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #00a950 0%,#001c11 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #00a950 0%,#001c11 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a950', endColorstr='#001c11',GradientType=0 ); /* IE6-9 */
	}
}


