

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
}



#t1, #t2, #t3, #t4, #t5 {
	// opacity: 0;
}

$x: 136;
$yMid: 17;

#banner{
	font-size: 20px;
	width: 640px;
	height: 60px;	
	font-size: 27px;
	// color: red;
}

#t1{
	// opacity: 1;
	@include pos($x, $yMid);
	span{
		@include pos(57, -27);
		letter-spacing: -0.5px;
		clip: rect(0px,150px,51px,0px);
		width: 160px;
	}
}

#t2{	
	@include pos($x, $yMid - 13);	
	letter-spacing: -0.5px;
	// opacity: 1;
}

#t3{
	@include pos($x, 29);	
	letter-spacing: -0.5px;
	// opacity: 1;
}

#t4{
	@include pos($x, 29);	
	letter-spacing: -0.5px;
	// opacity: 1;
}



#logo-olg{
	width: 28px;
	@include pos(600, 28);
}

#logo-playsmart{
	width: 56px;
	@include pos(20, 34);
}

#legal-button{
	@include pos(19, 8);
}

#legal-copy{
	width: 589px;
	height: 100%;
	font-size: 8px;
	padding: 3px 7px;
	line-height:11px;
	

	// opacity: 1;
}


#logo-app{
	width: 38px;
	height: 47px;
	@include pos(313, 8);
}

#phoneMain{
	@include pos-scale(375, -27, 0.5);	
	#phone-mask{
		width: 275px;
		height: 565px;
		overflow: hidden;
		@include pos-scale(0,0, 0.85);
		#phone{
			@include pos(-275*12, 0);
		}
	}

	#screen{
		opacity: 0;
		
		width: 213px;
		height: 222px;
		@include pos(31, 103);
		#logo{
			@include pos-scale(42, 10, .4);
		}
		font-size: 20px;
		p{
			width: 100%;
			text-align: center;
			// border: 1px solid red;
		}
		.t1{
			@include pos(0, 99);
			letter-spacing: -0.2px;			
			
			
		}
		.t2{
			@include pos(0, 122);
			letter-spacing: -0.2px;
		}
		
	}
}


#t5{
	@include pos(140, $yMid - 14);	
	letter-spacing: -0.4px;
	// font-size: 25px;
	// opacity: 1;
	p{
		display: block;
	}
}

// #phoneMain{
// 	@include pos-scale(319, -43, 0.81);
// 	// @include pos-scale(379, -40, 0.81);
// 	#phone-mask{				
// 		#phone{
// 			@include pos(-275*12, 0);
// 		}
// 	}
// 	#screen{
// 		opacity: 1;
// 		#logo{
// 			@include pos-scale(42, 10, .4);

// 		}
// 	}
// }

