<div id="banner">
	<div class="outline"></div>
	<!-- <img src="./frames/f1.jpg" class="trace"> -->
	<div class="frame frame1">
		<img id="logo" src="../_common/images/logo.svg" inline />
		<div id="cans">
			<img id="sprite" src="../_common/images/cansx15.png" alt="cans" inline>	
		</div>
		<p id="title"></p>
		<p id="sub"></p>
		<p id="legal"></p>		
	</div>	
</div>