

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
}

// p{
// 	opacity: 0;
// }

#t1, #t2, #t3, #t4 {
	// opacity: 0;
}

#banner{
	
	width: 300px;
	height: 600px;	
	font-size: 32px;
}

#t1{
	// opacity: 1;	
	@include pos(36, 151);	
	span{
		@include pos(64, -32);
		letter-spacing: -0.5px;
		clip: rect(0px,163px,51px,0px);
		width: 170px;
	}
}

#t2{
	@include pos(0, 119);
	letter-spacing: -0.5px;
	// opacity: 1;
	width: 100%;
	text-align: center;
	// border: 1px solid red
}

#t3{
	@include pos(0, 151);
	letter-spacing: -0.5px;
	// opacity: 1;
	width: 100%;
	text-align: center;
	// border: 1px solid red
}

#t4{
	@include pos(0, 151);
	letter-spacing: -0.5px;
	// opacity: 1;

	width: 100%;
	text-align: center;
	// border: 1px solid red
}

#logo-olg{
	width: 28px;
	@include pos(258, 568);
}

#logo-playsmart{
	width: 56px;
	@include pos(12, 576);
}

#legal-button{
	@include pos(12, 556);
}

#phoneMain{
	@include pos(11, 153);
	// @include pos(11, 73);
	#phone-mask{
		// display:none;
		// border: 1px solid red;
		width: 275px;
		height: 565px;
		overflow: hidden;
		@include pos-scale(0,0, 0.85);
		#phone{
			@include pos(-275*0, 0);
		}
	}

	#app-screen{
		@include pos(31, 101);
	}

	#screen{
		opacity: 0;
		
		width: 213px;
		height: 362px;
		@include pos(31, 103);
		#logo{
			@include pos-scale(30, 105, .5);
		}
		font-size: 28px;
		p{
			width: 100%;
			text-align: center;
			// border: 1px solid red;
		}
		.t1{
			@include pos(0, 193);
			letter-spacing: -0.2px;			
			
			
		}
		.t2{
			@include pos(0, 222);
			letter-spacing: -0.2px;
		}
		
	}
}

// #phoneMain{
// 	@include pos(13, 221 - 15);
// 	#phone-mask{				
// 		#phone{
// 			@include pos(-275*9, 0);			
// 		}
// 	}
// 	#screen{
// 		opacity: 1;
// 		#logo{
// 			@include pos-scale(30, 26, .5);

// 		}
// 	}
// }

